<h1>Faça o seu cadastro</h1>
<div class="jumbotron">

  <form class="row justify-content-md-center" [formGroup]="form" (ngSubmit)="signUpUser()">
  
    <div class="form-group col-sm-3 ">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="formUtils.fieldClassForErrorOrSeccess('name')">
      <div class="text-danger" *ngIf="formUtils.showFieldError('name')">
        <div *ngIf="formUtils.getField('name').errors.required">o nome é obrigatório</div>
        <div *ngIf="formUtils.getField('name').errors.minlength">o nome deve ter no minimo 3 caracteres</div>
        <div *ngIf="formUtils.getField('name').errors.maxlength">o nome deve ter no maximo 100 caracteres</div>
      </div>
    </div>
    
    <div class="form-group col-sm-3 ">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="formUtils.fieldClassForErrorOrSeccess('email')">
      <div class="text-danger" *ngIf="formUtils.showFieldError('email')">
        <div *ngIf="formUtils.getField('email').errors.required">o email é obrigatório</div>
        <div *ngIf="formUtils.getField('email').errors.email">o email digitado é invalido</div>
      </div>
    </div>
    
    <div class="form-group col-sm-3">
      <label for="password">Senha</label>
      <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="formUtils.fieldClassForErrorOrSeccess('password')">
      <div class="text-danger" *ngIf="formUtils.showFieldError('password')">
        <div *ngIf="formUtils.getField('password').errors.required">a senha é obrigatório</div>
        <div *ngIf="formUtils.getField('password').errors.minlength">a senha deve ter no minimo 8 caracteres</div>
      </div>
    </div>
    
    <div class="form-group col-sm-3">
      <label for="passwordConfirmation">Confirmar senha</label>
      <input type="password" class="form-control" id="passwordConfirmation" formControlName="passwordConfirmation" [ngClass]="formUtils.fieldClassForErrorOrSeccess('passwordConfirmation')">
      <div class="text-danger" *ngIf="formUtils.showFieldError('passwordConfirmation')">
        <div *ngIf="formUtils.getField('passwordConfirmation').errors.required">a confirmação de senha é obrigatório</div>
        <div *ngIf="formUtils.getField('passwordConfirmation').errors.mismatch">As senhas estão diferentes</div>
      </div>
    </div>
    
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary col-sm-4">Criar conta</button>
  
  </form>
</div>